private java.time.Instant {{newInstantJavaFieldName}} = null;
public java.time.Instant {{newInstantJavaAccessor}}() {
    if({{newInstantJavaFieldName}} == null && {{parentJavaAccessor}}() != null) {
        {{newInstantJavaFieldName}} = java.time.Instant.ofEpochSecond({{parentJavaAccessor}}().getSeconds(),
        {{parentJavaAccessor}}().getNanos());
    }
    return {{newInstantJavaFieldName}};
}