private java.math.BigDecimal {{newBdJavaFieldName}} = null;
public java.math.BigDecimal {{newBdJavaAccessor}}() {
    if (this.{{newBdJavaFieldName}} == null && {{parentJavaAccessor}}() != null && !{{parentJavaAccessor}}().getValue().equals("")) {
        this.{{newBdJavaFieldName}} = new java.math.BigDecimal({{parentJavaAccessor}}().getValue());
    }
    return this.{{newBdJavaFieldName}};
}