private java.time.Instant {{newInstantJavaFieldName}} = null;
public java.time.Instant {{newInstantJavaAccessor}}() {
    if({{newInstantJavaFieldName}} == null && {{parentJavaAccessor}}() != null && 
                    {{parentJavaAccessor}}().getTimestamp() != null) {
        {{newInstantJavaFieldName}} = java.time.Instant.ofEpochSecond({{parentJavaAccessor}}().getTimestamp().getSeconds(),
        {{parentJavaAccessor}}().getTimestamp().getNanos());
    }
    return {{newInstantJavaFieldName}};
}