private java.time.LocalDate {{newLdJavaFieldName}} = null;
public java.time.LocalDate {{newLdJavaAccessor}}() {
  if(this.{{newLdJavaFieldName}} == null && {{parentJavaHasAccessor}}() ) {
    this.{{newLdJavaFieldName}} = java.time.LocalDate.of({{parentJavaAccessor}}().year_, {{parentJavaAccessor}}().month_,
     {{parentJavaAccessor}}().dayOfMonth_);
  }
  return this.{{newLdJavaFieldName}};
}